/*Start Global Rules*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bootom: 100px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*small screen*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/*medium screen*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*large screen*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title {
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  text-transform: uppercase;
}
.main-title::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  left: -30px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title::after {
  content: "";
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  position: absolute;
  right: -30px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
/*End Global Rules*/

/* Start Settinges Box  */
.settinges-box {
  position: fixed;
  left: -225px;
  top: 0;
  width: 225px;
  min-height: 100vh;
  background-color: white;
  z-index: 100;
  transition: 0.3s;
}
.settinges-box.open {
  left: 0;
}
.settinges-box .icon {
  position: absolute;
  background-color: white;
  right: -30px;
  text-align: center;
  top: 120px;
  cursor: pointer;
}
.settinges-box .icon i {
  width: 30px;
  padding: 10px 0;
}
.settinges-box .content {
  padding: 10px;
}
.settinges-box .opt-box {
  background-color: #eee;
  padding: 10px;
  text-align: center;
  margin: 10px 0;
}
.settinges-box .content .opt-box .colors-list li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: var(--main-transition);
  opacity: 0.5;
}
.settinges-box .content .opt-box .colors-list li.active,
.settinges-box .content .opt-box .colors-list li:hover {
  transform: scale(1.1);
  opacity: 1;
}
.settinges-box .content .opt-box .colors-list li:first-child {
  background-color: #2196f3;
}
.settinges-box .content .opt-box .colors-list li:nth-child(2) {
  background-color: #e91e63;
}
.settinges-box .content .opt-box .colors-list li:nth-child(3) {
  background-color: #009688;
}

.settinges-box .content .opt-box .colors-list li:last-child {
  background-color: #ff9800;
}
.settinges-box .random-bg button {
  color: white;
  width: 50px;
  background-color: #009688;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: var(--main-transition);
  opacity: 0.5;
}
.settinges-box .random-bg button.active {
  opacity: 1;
  transform: scale(1.1);
}
.settinges-box .random-bg button:hover {
  opacity: 1;
}
/* End Settinges Box  */

/* Start Landing Page  */
.landing-page {
  position: relative;
  min-height: 100vh;
  background-image: url(../imgs/1bg.jpg);
  background-size: cover;
}
.landing-page .over-lay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.landing-page .container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.lnding-page .container .header .logo {
  width: 300px;
}
.landing-page .container .header .logo a {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.575);
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.landing-page .container .header .logo a span {
  color: var(--main-color);
  margin-left: 5px;
  font-size: 40px;
}
.landing-page .container .links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
.landing-page .container .links a {
  margin-left: 20px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
}
.landing-page .container .links .active,
.landing-page .container .links a:hover {
  color: var(--main-color);
}
.landing-page .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 3;
  width: 450px;
}
@media (max-width: 767px) {
  .landing-page .info {
    width: 350px;
  }
}
.landing-page .info h1 span {
  color: var(--main-color);
}
.landing-page .info p {
  line-height: 1.6;
}
/* End Landing Page  */

/* Start about  */
.about {
  padding-top: 100px;
  padding-bottom: 100px;
}
.about .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about .info {
  flex: 1;
}
.about .info h2 {
  color: var(--main-color);
  font-size: 30px;
}
.about .info p {
  color: rgb(114, 104, 104);
  font-weight: bold;
  line-height: 1.6;
}
.about .image {
  flex: 1;
  text-align: center;
}
.about .image img {
  width: 300px;
}
/* End about  */

/* Start Skills  */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.skills h2 {
  color: var(--main-color);
  font-size: 30px;
}
.skills .box {
  padding: 30px 0;
}
.skills .box .skill {
  background-color: white;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.skills .box .skill .skill-name {
  width: 130px;
  font-weight: bold;
  text-align: center;
}
.skills .box .skill .skill-progress {
  background-color: #eeeeee6b;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.skills .box .skill .skill-progress span {
  position: absolute;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: width 2s linear;
}
/* End Skills  */

/* Start Gallery  */
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}
.gallery h2 {
  color: var(--main-color);
  font-size: 30px;
}
.gallery .box {
  text-align: center;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.gallery .box img {
  width: 220px;
  height: 220px;
  padding: 5px;
  margin: 5px 0;
  background-color: #f6f6f6;
  cursor: pointer;
  transition: var(--main-transition);
}
.over-layy {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  z-index: 1000;
}
.popup-box {
  position: fixed;
  z-index: 1001;
  left: 50%;
  top: 50%;
  width: 450px;
  height: 450px;
  background-color: #eee;
  transform: translate(-50%, -50%);
  padding: 20px;
}
.popup-box img {
  max-width: 100%;
}
.popup-box .close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  color: white;
  font-weight: bold;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}
/* End Gallery  */

/* Start Timeline */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content:before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
}
.timeline .timeline-content .year {
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  position: relative;
  z-index: 2;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  padding: 2px 5px;
  font-weight: bold;
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}
@media (max-width: 767px) {
  .timeline .timeline-content .left,
  .timeline .timeline-content .right {
    width: 100%;
    margin-bottom: 20px;
  }
  .timeline .timeline-content .left:before,
  .timeline .timeline-content .right:before {
    display: none;
  }
  .timeline .timeline-content .left .content:before,
  .timeline .timeline-content .right .content:before {
    display: none;
  }
}
.timeline .timeline-content .left {
  float: left;
}
.timeline .timeline-content .left:before {
  right: -35px;
}
.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .right:before {
  left: -35px;
}
.timeline .timeline-content .left:before,
.timeline .timeline-content .right:before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 20px;
}
.timeline .timeline-content .content {
  padding: 20px;
  background-color: #fff;
}
.timeline .timeline-content .content h3 {
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}
.timeline .timeline-content .content p {
  color: #666;
  margin: 0;
  line-height: 1.6;
}
.clearfix {
  clear: both;
}
.timeline .timeline-content .left .content:before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent #fff;
  height: 0;
  width: 0;
  position: absolute;
  right: -20px;
  top: 20px;
}
.timeline .timeline-content .right .content:before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent #fff transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  left: -20px;
  top: 20px;
}
/* End Timeline */

/* Start Features  */
.features {
  padding-top: 50px;
  padding-bottom: 50px;
}
.features .container > h2 {
  color: var(--main-color);
  font-size: 30px;
}
.features .main-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  text-align: center;
}
.features .box h2 {
  margin: 10px 0;
  position: relative;
}
.features .box h2::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  left: 50%;
  bottom: 0;
  background-color: var(--main-color);
  transform: translateX(-50%);
  top: 40px;
}
.features .box p {
  color: #ccc;
  line-height: 1.6;
  margin-top: 30px;
}
.features .box img {
  width: 100px;
}
/* End Features  */

/* Start Animeation */
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
}
/* End Animeation */
